li {
    list-style: none;
}

body {
    font-family: "Open Sans", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
}

#flex-list {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-right: 300px;
}

main {
    background-color: black;
    height: 100px;
}

main>p {
    color: white;
}

#pre-section {
    background-color: #0282f9;
    display: flex;
    gap: 20px;
}

#svg-fix {
    width: 80px;
}

img {
    width: 100%;
}

.width-fix {
    width: calc((100% - 80px) / 8);
    height: 70px;
}

.img-width-fix {
    width: 40px;
}

.container {
    display: flex;
    align-items: center;
    color: white;
}

figcaption {
    margin-left: 20px;
}

footer {
    background-image: url("./assets/img/footer-bg.jpg");
}

.white-text-titles {
    font-weight: 800;
    color: white;
}

.list-text {
    color: grey;
}

.flex-container {
    display: flex;
}

#margin-fix {
    margin-left: 100px;
}

section {
    height: 100px;
    background-color: #303030;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.white-text {
    color: white;
    border: 3px solid #1263af;
    padding: 10px;
}

.logo-img {
    width: 30px;
    height: 30px;
}

#after-footer {
    align-items: center;
    gap: 10px;
}