li {
    list-style: none;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: inherit;
}

.nav-active {
    color: #0282f9;
    padding-bottom: 49px;
    border-bottom: 5px solid #0282f9;
}

#flex-list {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-right: 300px;
    margin-bottom: 0;
}

#flex-list li {
    color: grey;
    font-weight: 600;
}

main {
    background-color: rgb(20, 20, 20);
    padding-bottom: 30px;
}

#pre-section {
    background-color: #0282f9;
    display: flex;
    gap: 20px;
}

#svg-fix {
    width: 80px;
}

img {
    width: 100%;
}

.width-fix {
    width: calc((100% - 80px) / 8);
    height: 70px;
}

.img-width-fix {
    width: 40px;
}

.container {
    display: flex;
    align-items: center;
    color: white;
}

figcaption {
    margin-left: 20px;
}

footer {
    background-image: url("./assets/img/footer-bg.jpg");

}

.white-text-titles {
    font-weight: 800;
    color: white;
}

.list-text {
    color: grey;
}

.flex-container {
    display: flex;
}

#margin-fix {
    margin-left: 100px;
}

section {
    height: 100px;
    background-color: #303030;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.white-text {
    color: white;
    border: 3px solid #1263af;
    padding: 10px;
}

.white-text img {
    width: 100px;
    height: 100px;
}

.logo-img {
    width: 30px;
    height: 30px;
}

#after-footer {
    align-items: center;
    gap: 10px;
}

.img-fit {
    object-fit: cover;
    width: 500px;
    height: 256px;
    margin-left: 250px
}

.comic-card img {
    width: 100%;
    height: 60%;

}

.comic-card {
    width: calc((100% - 50px) / 6);

}

.comic-card h4 {
    color: white;
    font-weight: 100;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 200px 0 200px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.my-btn {
    margin: 0 auto;
    width: 15%;
    display: block;
    /* button style */
    background-color: #0282f9;
    color: white;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0px;
}

.jumbotron {
    background-image: url(/src/assets/img/jumbotron.jpg);
    height: 400px;
    position: relative;
}

.jumbo-label {
    background-color: #0282f9;
    width: 10%;
    color: white;
    padding: 15px;
    font-weight: 600;
    font-size: 110%;
    position: absolute;
    top: 380px;
    left: 200px;

}